html, body, .main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: relative;
}

.control {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 20rem;
  z-index: 99;
}

.name-label {
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: black;
  color: white;
  padding: 5%;
  text-align: center;
}

.input {
  padding: 2%;
  font-size: 3rem;
  text-align: center;
}

.number-square {
  position: absolute;
  width: 7rem;
  height: 7rem;
  background: red;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.top { top: 0 }
.left { left: 0 }
.bottom { bottom: 0}
.right { right: 0}